@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700;1,800&display=swap");
* {
  font-family: "Poppins", sans-serif;
  --purple: hsl(259, 100%, 65%);
  --light-red: hsl(0, 100%, 67%);
  --white: hsl(0, 0%, 100%);
  --off-white: hsl(0, 0%, 94%);
  --light-grey: hsl(0, 0%, 86%);
  --smokey-grey: hsl(0, 1%, 44%);
  --off-black: hsl(0, 0%, 8%);
}
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--light-grey);
  display: flex;
  align-items: center;
  justify-content: center;
}
input {
  font-size: 32px;
  outline-color: var(--purple);
  border-radius: 5px;
  border: 1px solid var(--light-grey);
  width: 80%;
}
form {
  width: auto;
  background-color: var(--white);
  border-radius: 15px 15px 80px 15px;
  margin: 2rem 2rem 2rem 2rem;
}
.button {
  position: absolute;
  border-radius: 50%;
  background-color: var(--purple);
  padding: 1rem;
  border: none;
  cursor: pointer;
  margin-top: -40px;
}
.button:hover {
  background-color: var(--off-black);
}
.outputs {
  font-size: 32px;
  font-weight: 900;
  font-style: italic;
  margin-top: 5rem;
}
.output-spans {
  color: var(--purple);
}

.error {
  color: var(--light-red);
  font-size: 12px;
}

.container {
  max-width: 650px;
  border: 2px solid red;
  padding: 1rem;
  margin: 1rem;
}
.inputs {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.sub {
  border-bottom: 1px solid var(--light-grey);
  margin-top: 25px;
  display: flex;
  justify-content: center;
}
