@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700;1,800&display=swap");
* {
  font-family: "Poppins", sans-serif;
  --purple: hsl(259, 100%, 65%);
  --light-red: hsl(0, 100%, 67%);
  --white: hsl(0, 0%, 100%);
  --off-white: hsl(0, 0%, 94%);
  --light-grey: hsl(0, 0%, 86%);
  --smokey-grey: hsl(0, 1%, 44%);
  --off-black: hsl(0, 0%, 8%);
}
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--light-grey);
  display: flex;
  align-items: center;
  justify-content: center;
}
input {
  font-size: 1.8rem;
  font-weight: 900;
  outline-color: var(--purple);
  border-radius: 5px;
  border: 1px solid var(--light-grey);
  width: 80%;
  padding: 3px;
}
.errors {
  border: 1px solid var(--light-red);
}
.labelError {
  color: var(--light-red);
}
form {
  max-width: 650px;
  background-color: var(--white);
  border-radius: 15px 15px 150px 15px;
  margin-top: 5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.button {
  position: absolute;
  border-radius: 50%;
  background-color: var(--purple);
  padding: 1rem;
  border: none;
  cursor: pointer;
  margin-top: -40px;
}
.button:hover {
  background-color: var(--off-black);
  transition: 0.3s ease-in-out;
}
.outputs {
  font-size: 3rem;
  font-weight: 900;
  font-style: italic;
  margin-top: 5rem;
}
.output-spans {
  color: var(--purple);
}

.container {
  padding: 1rem;
  margin: 1rem;
}
.inputs {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 5rem;
}
.error {
  position: absolute;
  top: 180px;
  color: var(--light-red);
  font-size: 0.56rem;

  display: none;
}
label {
  color: var(--smokey-grey);
  font-weight: 700;
}
.day,
.month,
.year {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.sub {
  border-bottom: 1px solid var(--light-grey);
  margin-top: 25px;
  display: flex;
  justify-content: right;
}
@media only screen and (max-width: 375px) {
  .error {
    font-size: 0.54rem;
  }
}
@media only screen and (max-width: 475px) {
  .sub {
    justify-content: center;
  }
}
